## Over deze opdrachten

* dit is Jupyter Notebook `sqlite-1.ipynb` - queries voor selectie en projectie.
* voor een inleiding over het gebruik van Jupyter Notebooks: [Inleiding Jupyter Notebook](Inleiding-Jupyter.ipynb)
* de hele reeks SQlite opdrachten:
    * [SQLite 0 - init database](sqlite-0.ipynb) (om met een schone lei te beginnnen)
    * [SQLite 1 - selectie en projectie](sqlite-1.ipynb)    
    * [SQLite 2 - joins](sqlite-2.ipynb)
    * [SQLite 3 - CRUD](sqlite-3.ipynb)
    * [SQLite 4 - Schema](sqlite-4.ipynb)

## Database tabellen

Voor de volledigheid geven we hier een overzicht van de tabellen in de database.

In [ ]:
%%bash
sqlite3 example.db

SELECT * FROM leden;

In [ ]:
%%bash
sqlite3 example.db

SELECT * FROM events;

In [ ]:
%%bash
sqlite3 example.db

SELECT * from inschrijvingen;

----

## Selectie

Je kunt de rijen van een tabel selecteren op basis van een *voorwaarde*.
In de SQL SELECT-opdracht geef je de conditie op na `WHERE`.
Dit kunt condities samenstellen met behulp van logische en rekenkundige opereratoren, zoals vergelijkingen.

**Opmerking:** door de constructie `FROM leden lid` is `lid` een alternatieve naam (*alias*) voor `leden`.
We gebruiken dit om de voorwaarde (bij `WHERE`) logischer te formuleren.

In [ ]:
%%bash
sqlite3 example.db

SELECT * FROM leden lid
WHERE lid.lidnr > 1;

### Opdracht

Selecteer de rijen in de tabel `events` waarvoor het `eventnr` kleiner dan 4 is.
Vervang hieronder de voorwaarde `TRUE`door de juiste voorwaarde.

In [ ]:
%%bash
sqlite3 example.db

SELECT * FROM inschrijvingen ins
WHERE TRUE;

## Projectie

Je kunt selectie combineren met *projectie*: daarin geef je aan welke kolommen in het resultaat voorkomen.
De andere kolommen worden weggelaten.

In de SQL SELECT-opdracht geef je de namen van de kolommen van de projectie als eerste op.
De volgorde mag daarbij anders zijn dan in de oorspronkelijke tabel:
je kijgt als resultaat een tabel met de kolommen die je opgeeft.

**Opmerking:** In de praktijk is het handig om *altijd* de namen van de geselecteerde kolommen op te geven, 
in plaats van `*`. Je weet dan zeker wat je als resultaat kunt verwachten, 
ook als er in de definitie van de tabel bijvoorbeeld een kolom bij gekomen is, of als de volgorde van de kolommen veranderd is.

In [ ]:
%%bash
sqlite3 example.db

SELECT email, achternaam FROM leden;

Een tabel kan ook uit een enkele kolom bestaan:

In [ ]:
%%bash
sqlite3 example.db

SELECT voornaam FROM leden;

Zoals je ziet komen hierin rijen dubbel voor. Als je geen dubbele rijen wilt, gebruik je `SELECT UNIQUE`.

Als je een lange lijst met kolomnamen hebt, noteer je deze onder elkaar, *met de komma vooraan*.
Op die manier kun je de lijst gemakkelijk aanpassen.

In [ ]:
%%bash
sqlite3 example.db

SELECT voornaam
,      achternaam
,      email
FROM leden;

### Opdracht

Je kunt selectie (van rijen) en projectie (van kolommen) ook combineren:

Selecteer de rijen van de leden waarvoor de voornaam voor de "M" valt,
en druk daarvan de voornaam en de achternaam af (projectie).
Vervang in de onderstaande opdracht daarvoor de `*` en de `TRUE`.

In [ ]:
%%bash
sqlite3 example.db

SELECT * FROM leden lid
WHERE TRUE;