## Over deze opdrachten

* dit is Jupyter Notebook `python-sqlite-1.ipynb`
* voor een inleiding over het gebruik van Jupyter Notebooks: [Inleiding Jupyter Notebook](Inleiding-Jupyter.ipynb)
* de hele reeks Python SQlite opdrachten:
    * [Python SQLite - init database](python-sqlite-0.ipynb) (om met een schone lei te beginnnen)
    * [Python SQLite - selectie en projectie](python-sqlite-1.ipynb)    
    * [Python SQLite - joins](python-sqlite-2.ipynb)
    * [Python SQLite - CRUD](python-sqlite-3.ipynb)
    * [Python SQLite - Schema](python-sqlite-4.ipynb)

## Database connection en cursor

De eerste stap in het gebruik van database-opdrachten in Python is *altijd* het maken van een verbinding (connection) met de database.
Met behulp van deze connection maak je een cursor-object, waarmee je de database-queries kunt uitvoeren.

`sqlite3` is de python-library voor SQLite.

In [ ]:
import sqlite3
db = sqlite3.connect('example.db')
cursor = db.cursor()

Voor de volledigheid geven we hier een overzicht van de tabellen in de database.
Dit is ook een voorbeeld in het gebruik van de cursor voor opdrachten en voor het opvragen van resultaten.

In [ ]:
cursor.execute('''SELECT * FROM leden;''')
for row in cursor:
    print(row)

In [ ]:
cursor.execute('''SELECT * FROM events;''')
for row in cursor:
    print(row)

In [ ]:
cursor.execute('''SELECT * FROM inschrijvingen;''')
for row in cursor:
    print(row)

----

## Selectie

Je kunt de rijen van een tabel selecteren op basis van een *voorwaarde*.
In de SQL SELECT-opdracht geef je de conditie op na `WHERE`.
Dit kunt condities samenstellen met behulp van logische en rekenkundige opereratoren, zoals vergelijkingen.

**Opmerking** door de constructie `FROM leden lid` is `lid` een alternatieve naam (*alias*) voor `leden`.
We gebruiken dit om de voorwaarde (bij `WHERE`) logischer te formuleren.

In [ ]:
cursor.execute('''SELECT * FROM leden lid
                  WHERE lid.lidnr > 1;''')
for row in cursor:
    print(row)

### Opdracht

Selecteer de rijen in de tabel `events` waarvoor het `eventnr` kleiner dan 4 is.
Vervang hieronder de voorwaarde `TRUE`door de juiste voorwaarde.

In [ ]:
cursor.execute('''SELECT * FROM inschrijvingen ins
                  WHERE TRUE;''')
for row in cursor:
    print(row)

## Projectie

Je kunt selectie combineren met *projectie*: daarin geef je aan welke kolommen in het resultaat voorkomen.
De andere kolommen worden weggelaten.

In de SQL SELECT-opdracht geef je de namen van de kolommen van de projectie als eerste op.
De volgorde mag daarbij anders zijn dan in de oorspronkelijke tabel:
je kijgt als resultaat een tabel met de kolommen die je opgeeft.

In [ ]:
cursor.execute('''SELECT email, achternaam FROM leden;''')
for row in cursor:
    print(row)

Een tabel kan ook uit een enkele kolom bestaan:

In [ ]:
cursor.execute('''SELECT voornaam FROM leden;''')
for row in cursor:
    print(row)

Zoals je ziet komen hierin rijen dubbel voor. Als je geen dubbele rijen wilt, gebruik je `SELECT UNIQUE`.

### Opdracht

Je kunt selectie (van rijen) en projectie (van kolommen) ook combineren:

Selecteer de rijen van de leden waarvoor de voornaam voor de "M" valt,
en druk daarvan de voornaam en de achternaam af (projectie).
Vervang in de onderstaande opdracht daarvoor de `*` en de `TRUE`.

In [ ]:
cursor.execute('''SELECT * FROM leden lid
                  WHERE TRUE;''')
for row in cursor:
    print(row)