## Over deze opdrachten

* dit is Jupyter Notebook `python-sqlite-3.ipynb` - CRUD.
* voor een inleiding over het gebruik van Jupyter Notebooks: [Inleiding Jupyter Notebook](Inleiding-Jupyter.ipynb)
* de hele reeks Python SQlite opdrachten:
    * [Python SQLite - init database](python-sqlite-0.ipynb) (om met een schone lei te beginnnen)
    * [Python SQLite - selectie en projectie](python-sqlite-1.ipynb)    
    * [Python SQLite - joins](python-sqlite-2.ipynb)
    * [Python SQLite - CRUD](python-sqlite-3.ipynb)
    * [Python SQLite - Schema](python-sqlite-4.ipynb)

## Database connection en cursor

De eerste stap in het gebruik van database-opdrachten in Python is het maken van een verbinding (connection) met de database.
Met behulp van deze connection maak je een cursor-object, waarmee je de database-queries kunt uitvoeren.

Bij veranderingen in de database is het belangrijk om `db.commit()` uit te voeren: de veranderingen worden daarmee permanent gemaakt.

In [ ]:
import sqlite3
db = sqlite3.connect('example.db')
cursor = db.cursor()

----

## CRUD

Met het acroniem CRUD geven we de basisoperaties op een database aan: Create, Read, Update, en Delete.
Hieronder geven we de SQL-opdrachten die daarmee overeenkomen. We geven daarbij ook aan hoe deze samenhangen met eventuele constraints van de database.

De CRD-operaties veranderen de database: je maakt deze veranderingen permanent met behulp van `db.commit()`. Vergeet deze niet in je programma's! Je kunt meerdere CRD-operaties combineren voor deze commit: je krijgt dan een *transactie* die uit meerdere opdrachten bestaat.

### Create (INSERT)

Met de INSERT opdracht voegen we een nieuwe rij aan een tabel toe (create):

In [ ]:
lid = ('Erica', 'Bezos', 'erica@amazon.com')
cursor.execute('''INSERT INTO leden (voornaam, achternaam, email)
                  VALUES (?, ?, ?);''', 
                  lid)

In [ ]:
cursor.execute('''SELECT * FROM leden''')
for row in cursor:
    print(row)

Nogmaals uitvoeren geeft een IntegrityError (exception):
we hebben immers aangegeven dat het `email`-adres uniek moet zijn (zie de definitie van de leden-tabel).

In [ ]:
lid = ('Erica', 'Bezos', 'erica@amazon.com')
cursor.execute('''INSERT INTO leden (voornaam, achternaam, email)
                  VALUES (?, ?, ?);''', 
                  lid)

Met behulp van het Python exception-mechamisme kunnen we dergelijke fouten opvangen,
en eventueel omzetten in een andere foutmelding - bijvoorbeeld een foutmelding naar de gebruiker,
dat hij zich al eerder aangemeld heeft.

In [ ]:
lid = ('Erica', 'Bezos', 'erica@amazon.com')
try:
    cursor.execute('''INSERT INTO leden (voornaam, achternaam, email) 
                  VALUES (?, ?, ?);''', 
                  lid)
except sqlite3.IntegrityError as e:
    print(e)
    print('Een gebruiker met email-adres "{2}" is al eerder aangemeld'.format(*lid))

**Opmerking** de Python splat-operatie `*lid` zet de lijst `lid` om in een lijst van parameters - hier voor `format`.

### Read (SELECT)

Met de SELECT-opdracht zoals we hierboven gebruikt hebben kun je de data uit de database lezen.
Het resultaat van SELECT is altijd een tabel; in sommige gevallen bestaat deze uit 1 rij, als we een bestaande rij willen lezen. Soms is de tabel leeg: er zijn dan geen rijen gevonden die aan de voorwaarde voldoen.

## Update (UPDATE)

Met de UPDATE opdracht kun je een bestaande rij selectief veranderen.
In het onderstaande voorbeeld passen we de maaltijd-waarde aan:

In [ ]:
rename = ('Janny', 'Jantien')
cursor.execute('''UPDATE leden
                  SET voornaam= ?
                  WHERE voornaam= ?;''',
                  rename)

In [ ]:
cursor.execute('''SELECT * FROM leden;''')
for row in cursor:
    print(row)

**Opdracht**

* Ga na dat herhalen van deze opdracht hetzelfde resultaat oplevert.
* Ga na dat een update voor een lege selectie geen foutmelding oplevert.
* Ga na of je in een UPDATE opdracht meerdere rijen kunt veranderen. Kun je bijvoorbeeld alle "Marie"-s veranderen in "Maria"-s?

### Delete (DELETE)

Met de DELETE opdracht verwijder je een rij uit de database.

In [ ]:
selection = ('Erica', 'Bezos')
cursor.execute('''DELETE FROM leden
                  WHERE voornaam=? and achternaam=?;''',
                  selection)

In [ ]:
cursor.execute('''SELECT * FROM leden;''')
for row in cursor:
    print(row)

Herhalen van deze opdracht levert geen problemen op: het verwijderen van een niet-bestaand element slaagt "per definitie". DELETE is een *idempotente* opdracht: deze heeft dezelfde betekenis als je deze eenmaal of vaker uitvoert.

## Herstel de database

Met de bovenstaande opdrachten heb je de leden-tabel mogelijk behoorlijk verziekt.
Sluit eerst de database af:

In [ ]:
db.commit()
db.close()

Met de onderstaande opdracht herstel je de oorspronkelijke tabel weer:

In [ ]:
%%bash
sqlite3 example.db

DELETE FROM leden
WHERE TRUE;

.mode csv
.import leden.csv leden

SELECT * FROM leden;