# Over deze opdrachten

* dit is Jupyter Notebook `sqlite-2.ipynb` - combineren van meerdere tabellen met *joins*.
* voor een inleiding over het gebruik van Jupyter Notebooks: [Inleiding Jupyter Notebook](Inleiding-Jupyter.ipynb)
* de hele reeks SQlite opdrachten:
    * [SQLite 0 - init database](sqlite-0.ipynb) (om met een schone lei te beginnnen)
    * [SQLite 1 - selectie en projectie](sqlite-1.ipynb)    
    * [SQLite 2 - joins](sqlite-2.ipynb)
    * [SQLite 3 - CRUD](sqlite-3.ipynb)
    * [SQLite 4 - Schema](sqlite-4.ipynb)

----

## Cartesisch product

Het cartesisch product van twee relaties (tabellen) bevat *alle combinaties* van de rijen van beide tabellen.

* vraag: hoeveel rijen heeft een cartesisch product van twee tabellen met elk 1000 rijen? (1000; 2000; 1.000.000?)

In [ ]:
%%bash
sqlite3 example.db

SELECT *
FROM leden, inschrijvingen;

## Join

De meeste van deze combinaties zijn zinloos:
we zijn meestal alleen geïnteresseerd in de rijen waarvan de lidnr's gelijk zijn.
We selecteren de relevante rijen van het cartesisch product door middel van een `WHERE`-voorwaarde.
Dit is een normaal patroon voor een *join*.

In [ ]:
%%bash
sqlite3 example.db

SELECT *
FROM leden lid, inschrijvingen ins
WHERE lid.lidnr=ins.lidnr;

We kunnen bovenstaande combinatie (join) van tabellen combineren met andere selectievoorwaarden en met projectie, zoals hieronder:

In [ ]:
%%bash
sqlite3 example.db

SELECT lid.voornaam
,      lid.achternaam
,      lid.email
,      ins.eventnr
,      ins.maaltijd
FROM leden lid, inschrijvingen ins
WHERE lid.lidnr=ins.lidnr AND lid.voornaam='Hans';

**Opdracht**

Maak een query voor alle combinaties van de rijen van leden, inschrijvingen en events (Cartesisch product).
Hoeveel rijen verwacht je in het resultaat?

**Opdracht**

Maak een query voor alle inschrijvingen, met daarbij alle gegevens van de leden en van de events.

### INNER JOIN

Het cartesisch product heet in SQL de `INNER JOIN`.
Het resultaat van deze join is een tabel: deze staat in de query bij het `FROM`-deel.
De voorwaarde (meestal: gelijke sleutels) staat bij de join als `ON`-voorwaarde.
Op deze manier zijn de join-voorwaarde en de selectie-voorwaarde duidelijk gescheiden:

In [ ]:
%%bash
sqlite3 example.db

SELECT lid.voornaam
,      lid.achternaam
,      lid.email
,      ins.eventnr
,      ins.maaltijd
FROM leden lid 
     JOIN inschrijvingen ins
     ON lid.lidnr=ins.lidnr                  
WHERE lid.voornaam='Hans';

### Meer dan 2 tabellen

We kunnen een join ook over meer dan twee tabellen uitvoeren.
Bij elke tabel geven we dan de join-conditie aan.

## (De)normalisatie

De tabellen die we hierboven gebruiken zijn in *normaalvorm*:
Elk basisgegeven komt maar één keer voor.
Deze tabellen bevatten geen redundante (overtollige) gegevens.
Dat maakt het eenvoudiger om de database te veranderen op een consistende manier.

De volgende tabel (als resultaat van een "join" bewerking) is niet genormaliseerd:
je ziet dat dezelfde voornaam, achternaam, email-adres en event-gegevens meerdere malen voorkomen.
Dit is een manier van werken die je veel tegenkomt in relationele databases:

* basisgegevens breng je onder in genormaliseerde tabellen; veranderingen in de basisgegevens hoef je dan maar op één plek in te voeren;
* niet-genormaliseerde tabellen, bijvoorbeeld voor rapportages, reken je uit als dat nodig is.

In [ ]:
%%bash
sqlite3 example.db

SELECT *
FROM leden lid, inschrijvingen ins, events evt
WHERE lid.lidnr=ins.lidnr AND evt.eventnr=ins.eventnr;

Meestal gebruik je maar een deel van de kolommen, zoals in de onderstaande projectie:

In [ ]:
%%bash
sqlite3 example.db

SELECT lid.voornaam
,      lid.achternaam
,      evt.beschrijving
,      evt.datum
,      ins.maaltijd
FROM leden lid, inschrijvingen ins, events evt
WHERE lid.lidnr=ins.lidnr AND evt.eventnr=ins.eventnr;