## Over deze opdrachten

* dit is Jupyter Notebook `sqlite-3.ipynb` - CRUD: create, read, update, delete-opdrachten.
* voor een inleiding over het gebruik van Jupyter Notebooks: [Inleiding Jupyter Notebook](Inleiding-Jupyter.ipynb)
* de hele reeks SQLite opdrachten:
    * [SQLite 0 - init database](sqlite-0.ipynb) (om met een schone lei te beginnnen)
    * [SQLite 1 - selectie en projectie](sqlite-1.ipynb)    
    * [SQLite 2 - joins](sqlite-2.ipynb)
    * [SQLite 3 - CRUD](sqlite-3.ipynb)
    * [SQLite 4 - Schema](sqlite-4.ipynb)

----

## CRUD

Met de afkorting CRUD geven we de basisoperaties op een database aan: Create, Read, Update, en Delete.
Hieronder geven we de SQL-opdrachten die daarmee overeenkomen. We geven daarbij ook aan hoe deze samenhangen met eventuele constraints van de database.

### Create (INSERT)

Met de INSERT opdracht voegen we een nieuwe rij aan een tabel toe (create).
Ter controle vragen we de tabel voor en na de INSERT op.

In [ ]:
%%bash
sqlite3 example.db

SELECT *
FROM leden;

In [ ]:
%%bash
sqlite3 example.db

INSERT INTO leden (voornaam, achternaam, email) 
VALUES ('Erica', 'Bezos', 'erica@amazon.com');

**Opmerking.** We geven het lidnr (de primary key) hier niet op: dit nummer wordt automatisch door SQLite ingevuld,
als uniek volgnr. 

Controleer of inderdaad het nieuwe lid toegevoegd is (met een uniek `lidnr`):

In [ ]:
%%bash
sqlite3 example.db

SELECT *
FROM leden;

**Constraint error(s) bij INSERT**. Nogmaals uitvoeren van de INSERT-opdracht geeft een foutmelding (bovenaan): *UNIQUE constraint failed: leden.email*.
We hebben immers aangegeven dat het `mail`-adres uniek moet zijn (constraint).

In [ ]:
%%bash
sqlite3 example.db

INSERT INTO leden (voornaam, achternaam, email) 
VALUES ('Erica', 'Bezos', 'erica@amazon.com');

**Opdracht** voor de INSERT-opdracht nogmaals uit, met dezelfde namen, en een *ander emailadres*. Wat is het resultaat?

In [ ]:
%%bash
sqlite3 example.db

SELECT *
FROM leden;

### Read (SELECT)

Met de SELECT-opdracht zoals we hierboven gebruikt hebben kun je de data uit de database lezen.
Het resultaat van SELECT is altijd een tabel; in sommige gevallen bestaat deze uit 1 rij, als we een bestaande rij willen lezen. Soms is de tabel leeg: er zijn dan geen rijen gevonden die aan de voorwaarde voldoen.

In [ ]:
%%bash
sqlite3 example.db

SELECT lid.lidnr, lid.voornaam, lid.achternaam, lid.email
FROM leden lid
WHERE lid.voornaam='Jantien';

**Opdracht** Pas bovenstaande zoekopdracht aan zodat deze 0 rijen oplevert; en zodat deze meerdere rijen oplevert.

## Update (UPDATE)

Met de UPDATE opdracht kun je een bestaande rij selectief veranderen.
In het onderstaande voorbeeld passen we de voornaam aan:

In [ ]:
%%bash
sqlite3 example.db

UPDATE leden
SET voornaam = "Janny"
WHERE voornaam = "Jantien";

SELECT * from LEDEN;

* Ga na dat herhalen van deze opdracht hetzelfde resultaat oplevert.
* Ga na dat een update voor een lege selectie geen foutmelding oplevert.
* Ga na of je in een UPDATE opdracht meerdere rijen kunt veranderen. Kun je bijvoorbeeld alle "Marie"-s veranderen in "Maria"-s?

### Delete (DELETE)

Met de DELETE opdracht verwijder je een rij uit de database.

In [ ]:
%%bash
sqlite3 example.db

DELETE FROM leden
WHERE voornaam="Erica";

SELECT * FROM leden;

**Opdracht**. Ga na dat herhalen van de bovenstaande opdracht geen problemen oplevert: het verwijderen van een niet-bestaand element slaagt "per definitie". DELETE is een *idempotente* opdracht: deze heeft dezelfde betekenis als je deze eenmaal of vaker uitvoert.

## Herstel de database

Met de bovenstaande opdrachten heb je de leden-tabel mogelijk behoorlijk verziekt.
Met de onderstaande opdracht herstel je de oorspronkelijke tabel weer:

In [ ]:
%%bash
sqlite3 example.db

DELETE FROM leden
WHERE TRUE;

.mode csv
.import leden.csv leden

SELECT * FROM leden;

**Opmerking.** We kunnen de tabel ook helemaal verwijderen, met `DROP TABLE`. In dat geval moeten we ook de tabel opnieuw aanmaken (`CREATE TABLE`), met het schema (kolomnamen, kolomtypes, key, constraints, enz.).